/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* GLOBAL STYLES */
body {
  background-image: url(Photos/open-book-wallpaper-45039-46209-hd-wallpapers.jpg);
  padding-top: 5em;
  display: flex;
    background-repeat: no-repeat;
    background-size: cover;
  justify-content: center;
    
}

/* DEMO-SPECIFIC STYLES */
.typewriter h3 {
  color: black;
  font-family: 'Anonymous Pro', monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space:nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .01em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
/*
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
*/
.container {
    position:absolute;
    transition: .5s ease;
    top: 30%;
    display: flex;
    justify-content: center;
}